apiVersion: v1
kind: Service
metadata:
  name: hello-world-svc
  namespace: default
spec:
  selector:
    app: hello-world
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5678
  type: LoadBalancer # AWS sẽ tự tạo ELB