apiVersion: v1
kind: Service
metadata:
  name: hello-world-svc
  namespace: default
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
spec:
  selector:
    app: hello-world
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5678
  type: LoadBalancer # AWS sẽ tự tạo ELB
